/* Homepage.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.homediv1 {
  height: 100vh;
}

header {
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
  color: #333;
  font-size: 2.5em;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

section {
  margin: 40px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.container {
  width: 600px;
  padding: 20px;
  background-color: #ffffffb1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
}


